<div class="container">
  <header>
    <h1>Quản Lý Điểm Sinh Viên</h1>
    <p class="subtitle">Hệ thống hỗ trợ giảng viên và sinh viên theo dõi, cập nhật và quản lý điểm số một cách hiệu quả.</p>
  </header>

  <main>
    <section class="welcome-section">
      <h2>Xin chào!</h2>
      <p>Chào mừng bạn đến với hệ thống quản lý điểm sinh viên.</p>
    </section>
    <section class="features-section">
      <h2>Tính năng nổi bật</h2>
      <div class="features-grid">
        <div class="feature-card">
          <h3>Quản lý học phần</h3>
          <p>Thêm, sửa, xóa  học phần một cách nhanh chóng.</p>
        </div>
        <div class="feature-card">
          <h3>Nhập điểm</h3>
          <p>Giảng viên dễ dàng nhập và chỉnh sửa điểm cho từng sinh viên.</p>
        </div>
        <div class="feature-card">
          <h3>Quản lý giảng viên</h3>
          <p>Thêm xóa sửa giảng viên.</p>
        </div>
        <div class="feature-card">
          <h3>xem lịch sửa thao tác</h3>
          <p>Xem các thao tác đã thực hiện trên ứng dụng</p>
        </div>
      </div>
    </section>
  </main>

  <footer>
    <p>&copy; 2025 Hệ thống quản lý điểm sinh viên | Phát triển bởi Nhóm UDQL</p>
  </footer>
</div>
